.head{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.left{
     background-color: lightblue;
     width: 180px;
     margin-right: 220px;
     height: 70px;
}
.middle{
    background-color: lightpink;
    flex: 1;
    max-width: 600px;
    height:70px ;
}
.right{
    background-color: lightblue;
    width: 180px;
    margin-left: 220px;
    height: 70px;   
}
