.head {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.left {
    background-color: lightgray;
    width: 180px;
    margin-right: 220px;
    height: 70px;
}

.middle {
    background-color: lightpink;
    flex: 1;
    max-width: 600px;
    height: 70px;
}

.right {
    background-color: lightblue;
    width: 180px;
    margin-left: 220px;
    height: 70px;
}

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link rel="stylesheet" href="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" type="image/x-icon">