input{
    display: block;
    margin-bottom: 10px;
}
.tham{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    
}
.pcon{
    width: 356px;
    display: inline-block;

}

.vprev{
    width: 400px;
    display: inline-block;
    margin: 10px;
}
.prof{
   margin-top:16px;
   width:100%;
   height:40px;
   border-radius:60%;
}
.profd{
    width: 40px;
    vertical-align:top;
    display: inline-block;
}