p{
    margin: 0%;
    font-family: "roboto",Arial;
}
input{
    display: block;
    margin-bottom: 10px;
}
.tham{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    
}
.profd{
    width: 50px;
    vertical-align:top;
    display: inline-block;
   
}
.pcon{
    width: 345px;
    display: inline-block;
    
}
.headp{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;

}
.chanal{
    font-size: 14px;
    color: gray;
}
.views{
    font-size: 14px;
    color: gray;
}

.vprev{
    width: 400px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
.prof{

   width:100%;
   height:40px;
   border-radius:60%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    row-gap: 20px;
}
